<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SQL uploader</title>
</head>
<body>
<div>
    <div style="padding: 40px">
<form
        enctype="multipart/form-Data"
        action="http://localhost:8080/uploadFile"
        method="post"
>

    <label>
        <input type="file" name="myFile"/>
    </label>

    <input type="submit" value="upload file" />

</form>
</div>
<div style="padding: 40px">
<form
        enctype="multipart/form-Data"
        action="http://localhost:8080/uploadText"
        method="post"
>

    <label>
        <textarea style=" white-space: pre-line;height: 800px;width: 500px;"  name="myText" >
        </textarea>
    </label>
    <br>
    <input type="submit" value="upload text" />

</form>
    </div>
</div>
<!--<div>{{.Title}}</div>> -->

</body>
</html>